@import "reset.css";
@import "fonts.css";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Helvetica',sans-serif;
}
h1, 
h2 {
    font-size: 72px;
    font-weight: 700;
}


/*ПРИВЕТСТВЕННАЯ СТРАНИЦА*/

.hero {
    position: relative;
}
.hero__header {
    width: 27px;
    height: 3px;
    background-color: black;
    position: fixed;
    right: 4vw;
    top: 6vw;
}
.hero__header::before,
.hero__header::after {
    content: '';
    display: block;
    position: absolute;
    width: 27px;
    height: 3px;
    background-color: black;
}
.hero__header::before{
    content: '';
    top: -8px;
}
.hero__header::after {
    content: '';
    top: 8px;
}
.hero__header__block {
    display: none;
}
.hero__date {
    transform: rotate(-90deg);
}
.hero__square {
    width: 146px;
    height: 76px;
    background-color: #E5011C;
    position: absolute;
    top: 0;
    right: 0;
}
.hero__title {
    margin-top: 55%;
}
.hero__title__text:first-of-type {
    margin-left: -2%;
}
.hero__title__text:last-of-type {
    margin-left: 22%;
}
.hero__down__circle {
    width: 229px;
    height: 230px;
    border-radius: 50%;
    background-color: #E5011C;
}
.hero__down__link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.hero__down {
    display: flex;
    margin-top: 40%;
    margin-left: -20%;
}



/*we*/ 

.aboutus {
    margin-left: 5vw;
    overflow-x: hidden;
}
.aboutus__info__title{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 11vw;
    margin-top: 20vw;
}
.aboutus__info__p {
    font-size: 14px;
    margin-bottom: 7vw;
}
hr {
    margin-left: 55vw;
    margin-top: 5vw;
    height: 3px;
    background-color: black;
}
.aboutus__authors__title {
    margin-top: 12vw;
    font-weight: bold;
    font-size: 36px;
}
.aboutus__authors__we {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-top: 18vw;
    padding-bottom: 18vw;
}
.aboutus__authors__we li {
  margin-right: 58px;
  position: relative;
}
.aboutus__authors__we li img {
    width: 221px;
    height: 221px;
}
.aboutus__authors__we li h4 {
    font-size: 24px;
    line-height:  96%;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    bottom: -1%;
    left: -1%;
}
.aboutus__authors__we__first h4,
.aboutus__authors__we__third h4,
.aboutus__authors__we__fifth h4 {
    bottom: -1%;
    left: -1%;
}
.aboutus__authors__we__second h4,
.aboutus__authors__we__fourth h4 {
    top: -1%;
    left: -1%;
}
.aboutus__authors__we li div {
    width: 28vw;
    height: 28vw;
    background-color: #E5011C;
    position: absolute;
}
.aboutus__authors__we__first__square,
.aboutus__authors__we__third__tr,
.aboutus__authors__we__fifth__cur {
    right: -11vw;
    top: -12vw;
}
.aboutus__authors__we__second__curcle,
.aboutus__authors__we__fourth__par {
    right: -11vw;
    bottom: -9vw;
}
.aboutus__authors__we__second__curcle {
    border-radius: 50%;
}
.aboutus__authors__we__fourth__par {
    width: 30vw;
    height: 24vw;
}
.aboutus__authors__we__fifth__cur {
    width: 30vw;
    height: 24vw;
    border-radius: 50%;
}


/*ПОДВАЛ*/ 

.footer__list {
    margin-left: 3vw;
    margin-right: 7vw;
    margin-top: 30vw;
    padding-bottom: 10vw;
    display: flex;
    justify-content: space-between;
}
.footer__list__item {
    margin-right: 2vw;
}
.footer__list__item__link {
    color: black;
    text-decoration: none;
    font-size: 4.5vw;
}
.footer__list__item__link:hover {
    text-decoration: underline;
}