@import "reset.css";
@import "fonts.css";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Helvetica',sans-serif;
    width: 100%;
}
h1, 
h2 {
    font-size: 17vw;
    font-weight: 700;
}


/*ПРИВЕТСТВЕННАЯ СТРАНИЦА*/

.hero {
    position: relative;
}
.hero__header {
    width: 27px;
    height: 3px;
    background-color: black;
    position: fixed;
    right: 4vw;
    top: 6vw;
}
.hero__header::before,
.hero__header::after {
    content: '';
    display: block;
    position: absolute;
    width: 27px;
    height: 3px;
    background-color: black;
}
.hero__header::before{
    content: '';
    top: -8px;
}
.hero__header::after {
    content: '';
    top: 8px;
}
.hero__header:hover {
 transform: rotate(45deg);
}
.hero__header::before:hover {
 transform: rotate(-45deg);
 top: 0px;
}
.hero__header::after:hover {
    top: 0px;
    transform: rotate(-85deg);
}
.hero__header__block {
    display: none;
}
.hero__date {
    transform: rotate(-90deg);
    font-size: 5.5vw;
}
.hero__square {
    width: 45%;
    height: 11%;
    background-color: #E5011C;
    position: absolute;
    top: 0;
    right: 0;
}
.hero__title {
    margin-top: 55%;
}
.hero__title__text:first-of-type {
    margin-left: -2%;
}
.hero__title__text:last-of-type {
    margin-left: 41%;
}
.hero__down__circle {
    width: 60%;
    height: 230px;
    border-radius: 50%;
    background-color: #E5011C;
}
.hero__down__link {
    text-decoration: none;
    color: black;
    font-size: 5.5vw;
}
.hero__down__link:hover {
    text-decoration: underline;
}
.hero__down {
    display: flex;
    margin-top: 40%;
    margin-left: -20%;
}


/*quote*/ 

.quote {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #E5011C 60%, black 40%);
}
.quote__block {
    background-color: white;
    width: 90%;
}
.quote__block__title {
    color: #E5011C;
    padding: 7%;
    padding-right: 12%;
}
.quote__tr {
    border: 50px solid transparent; 
    border-left: 50px solid white; 
    border-top: 0px solid white;
}


/*we*/ 

.aboutus {
    margin-left: 5vw;
    overflow-x: hidden;
}
.aboutus__info__title{
    font-weight: bold;
    margin-bottom: 11vw;
    margin-top: 20vw;
}
.aboutus__info__p {
    font-size: 4vw;
    margin-bottom: 7vw;
}
hr {
    margin-left: 55vw;
    margin-top: 5vw;
    height: 3px;
    background-color: black;
}
.aboutus__authors__title {
    margin-top: 12vw;
    font-weight: bold;
    font-size: 36px;
}
.aboutus__authors__we {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-top: 18vw;
    padding-bottom: 18vw;
}
.aboutus__authors__we li {
  margin-right: 58px;
  position: relative;
}
.aboutus__authors__we li img {
    width: 221px;
    height: 221px;
}
.aboutus__authors__we li div {
    position: absolute;
}
.aboutus__authors__we__text__first,
.aboutus__authors__we__text__second,
.aboutus__authors__we__text__third,
.aboutus__authors__we__text__fourth,
.aboutus__authors__we__text__fifth {
    width: 221px;
    height: 221px;
    opacity: 0;
    top: 0;
}
.aboutus__authors__we__text__first:hover,
.aboutus__authors__we__text__second:hover,
.aboutus__authors__we__text__third:hover,
.aboutus__authors__we__text__fourth:hover,
.aboutus__authors__we__text__fifth:hover {
    opacity: 1;
    background: rgba(20, 20, 20, 0.7);
    color: white;
    font-size: 4vw;
    transition: .3s;
}
.aboutus__authors__we__text__first__parag,
.aboutus__authors__we__text__third__parag,
.aboutus__authors__we__text__fifth__parag,
.aboutus__authors__we__text__second__parag,
.aboutus__authors__we__text__fourth__parag {
    width: 70%;
}
.aboutus__authors__we__text__second__parag,
.aboutus__authors__we__text__fourth__parag {
    position: absolute;
    bottom: 0;
}
.aboutus__authors__we li h4 {
    font-size: 24px;
    line-height:  96%;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    bottom: -1%;
    left: -1%;
}
.aboutus__authors__we__first h4,
.aboutus__authors__we__third h4,
.aboutus__authors__we__fifth h4 {
    bottom: -1%;
    left: -1%;
}
.aboutus__authors__we__second h4,
.aboutus__authors__we__fourth h4 {
    top: -1%;
    left: -1%;
}
.aboutus__authors__we__first__square,
.aboutus__authors__we__third__tr,
.aboutus__authors__we__fifth__cur {
    z-index: 1;
    width: 45%;
    height: 45%;
    right: -11vw;
    top: -12vw;
}
.aboutus__authors__we__first__square {
    background-color: #E5011C;
}
.aboutus__authors__we__second__curcle {
    width: 45%;
    height: 45%;
}
.aboutus__authors__we__second__curcle,
.aboutus__authors__we__fourth__par {
    z-index: 1;
    right: -11vw;
    bottom: -9vw;
    background-color: #E5011C;
}
.aboutus__authors__we__second__curcle {
    border-radius: 50%;
}.aboutus__authors__we__third__tr {
    width: 0;
    height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #E5011C;
}
.aboutus__authors__we__fourth__par {
    width: 55%;
    height: 45%;
    background-color: #E5011C;
}
.aboutus__authors__we__fifth__cur {
    width: 55%;
    height: 45%;
    border-radius: 50%;
    background-color: #E5011C;
}


/*ПОДВАЛ*/ 

.footer__list {
    margin-left: 3vw;
    margin-right: 7vw;
    margin-top: 30vw;
    padding-bottom: 10vw;
    display: flex;
    justify-content: space-between;
}
.footer__list__item {
    margin-right: 2vw;
}
.footer__list__item__link {
    color: black;
    text-decoration: none;
    font-size: 4.5vw;
}
.footer__list__item__link:hover {
    text-decoration: underline;
}